# ⛔ Archivos y carpetas generales que no se deben subir
.env
.env.* 
*.log
.DS_Store
Thumbs.db
npm-debug.log*

# ⛔ Laravel
/vendor
/node_modules
/storage/*.key
/storage/*.log
/storage/debugbar
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
/public/storage

# ⛔ Laravel archivos extra
Homestead.yaml
Homestead.json
phpunit.xml

# ⛔ Next.js (React)
.next
out
node_modules/
.vercel
*.local

# ⛔ Archivos del sistema operativo
*.swp
*.swo
*.bak
*.tmp

# ⛔ Archivos de editor
.vscode/
.idea/
*.code-workspace
*.sublime*

# ⛔ Archivos del build
build
dist
coverage
