# ───────────────────────────────
# 🔐 Entornos y configuración sensible
# ───────────────────────────────
.env
.env.*
.phpunit.result.cache

# ───────────────────────────────
# 📦 Dependencias y paquetes
# ───────────────────────────────
/node_modules/
/vendor/

# ───────────────────────────────
# 📂 Almacenamiento y cachés de Laravel
# ───────────────────────────────
/storage/*.key
/storage/*.log
/storage/debugbar/
/storage/oauth-private.key
/storage/oauth-public.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/

# 🗃 Public
/public/storage
/public/hot

# ───────────────────────────────
# 🐳 Archivos Docker (locales)
# ───────────────────────────────
docker-compose.override.yml
.docker/

# ───────────────────────────────
# 🧰 Homestead (virtualización)
# ───────────────────────────────
Homestead.yaml
Homestead.json

# ───────────────────────────────
# 🧠 Archivos del editor
# ───────────────────────────────
.vscode/
.idea/
*.code-workspace

# ───────────────────────────────
# 🐞 Logs y archivos de errores
# ───────────────────────────────
npm-debug.log*
yarn-error.log*
laravel.log
*.log

# ───────────────────────────────
# 🧪 Pruebas y coverage
# ───────────────────────────────
coverage/
phpunit.xml

# ───────────────────────────────
# 💅 Otros (SO, backups, etc)
# ───────────────────────────────
.DS_Store
Thumbs.db
*.bak
*.tmp
*.swp
*.swo
