# ───────────────────────────────
# 🧪 Laravel archivos temporales
# ───────────────────────────────
.env
.env.*
.phpunit.result.cache

# ───────────────────────────────
# 📦 Dependencias
# ───────────────────────────────
/node_modules/
/vendor/

# ───────────────────────────────
# 📂 Almacenamiento y cachés
# ───────────────────────────────
/storage/*.key
/storage/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/
public/storage/
public/hot

# ───────────────────────────────
# 🐳 Archivos Docker locales
# ───────────────────────────────
docker-compose.override.yml

# ───────────────────────────────
# 🧰 Homestead
# ───────────────────────────────
Homestead.json
Homestead.yaml

# ───────────────────────────────
# 🧠 Archivos del editor
# ───────────────────────────────
.idea/
.vscode/

# ───────────────────────────────
# 🐞 Logs
# ───────────────────────────────
npm-debug.log*
yarn-error.log*
